* {
  margin: 0;
  padding: 0;
  font-family: arial;
  background-image: url("");
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  font-size: 62.5%;
}

nav {
  background: #14213d;
  position: relative;
  z-index: 10;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li {
  float: left;
  display: inline-block;
  background: #14213d;

  margin: 0 5px;
}
nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover {
  color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffb703, 0 0 10px #ffb703;
}
nav ul ul li a:hover {
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #ffb703;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
nav ul ul ul {
  border-top: none;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 368px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li:hover {
  border-bottom: 1px solid#ffb703;
}
nav ul ul li a {
  line-height: 50px;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: #00ffff;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
header {
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
.img {
  background-image: url("/image/bg1.jpg");
  width: 100%;
  height: 505px;
  background-size: cover;
  background-repeat: no-repeat;
}
.services {
  font-weight: 900;
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 70px;
  color: blue;
  font-family: "Poppins", sans-serif;
  text-shadow: 4px 2px 4px grey;
}
.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.border {
  width: 270px;
  margin-bottom: 10%;
  height: 285px;
  box-shadow: 1px 5px 6px 0px #888686b0;
  border: 5px solid rgb(180, 71, 71);
}
video {
  width: 100%;
  margin-top: 3%;
  margin-left: 6%;
  box-shadow: 1px 5px 6px 0px #888686b0;
}
.video-pragphg {
  width: 270px;
  height: 230px;
  padding: 10px 20px;
  background: #ffff;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 1px 5px 6px 0px #888686b0;
  transition: all 0.55s;
}
.video-pragphg:hover {
 
  transform: translate(0px, -8px);
  cursor: pointer;
  box-shadow: 1px 5px 13px 7px rgba(122, 122, 122, 0.52);
}
.video-pragphg h1 {
  font-family: "Poppins", sans-serif;
}
.video-pragphg p {
  color: #6c757d;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
.video-pragphg button {
  display: flex;
  justify-content: flex-end;
  border: none;
  color: white;
  margin-left: 90px;
  letter-spacing: 2px;
  font-size: 2rem;
  background-color: black;
}
.video-pragphg button:hover {
  transition-duration: all 0.5s;
  background-color: white;
  color: black;
  border: 1px solid black;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}
.container h1 {
  font-size: 1.6rem;
  text-align: center;
  padding: 8px;
  color: #343a40;
}
.container p {
  font-size: 1rem;
  padding-left: 16px;
  color: #6c757d;
}
.main1 {
  width: 250px;
  height: 380px;
  background: #ffff;
  border: none;
  box-shadow: 1px 5px 6px 0px #888686b0;
  transition: all 0.55s;
}
.main1:hover {
  box-shadow: 1px 5px 13px 7px rgba(122, 122, 122, 0.52);
  cursor: pointer;
  transform: translate(0px, -8px);
}
.main2 {
  width: 250px;
  height: 380px;
}
.main3 {
  width: 250px;
  height: 380px;
}
.tab-image img {
  width: 100%;
  height: 135px;
}
button {
  display: flex;
  justify-content: flex-end;
  margin: 12px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
